<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client-Server Game</title>
</head>
<body>
    <h1>You are the Client, I am the Server</h1>
    <form action="" method="post">

        {% csrf_token %}
        
    <p><input type="text" name="client_text" id=""> == Client's Text</p>
    <p>OR</p>
    <p><input type="url" name="client_url" id=""> == Client's URL</p>
    <p>OR</p>
    <p><input type="range" name="" id="client_range"> == Client's Range</p>
    <p>OR</p>
    <p><input type="email" name="client_email" id=""> == Client's Email</p>
    <p>OR</p>
    <p><input type="number" name="client_number" id=""> == Client's Number</p>
    <p>OR</p>
    <p><input type="datetime" name="client_date" id=""> == Client's Date</p>
    <p>OR</p>
    <p><input type="password" name="client_password" id=""> == Client's Password</p>
    <input type="submit" value="Click me / Send request to Server!">

    </form>

 {% comment %} {% if submitted %}
  {% for key, value in submitted.items %}
    <p>Client's {{ key }}: {{ value }}</p>
    <p>Server's Response: {{ value }}</p>
  {% endfor %}
{% endif %}  {% endcomment %}

    {% if client_text %}
    <p>Client's Text: {{ client_text }}</p>
    <p>Server's Response: {{ reversed_text }}</p>
    {% endif %} 


    {% if client_password %}
    <p>Client's Password: {{ client_password }}</p>
    <p>Server's Response: {{ client_password }}</p>
    {% endif %}

{% comment %} version 4 loop through submitted values {% endcomment %}
    {% for key, value in submitted.items %}
    <p>Client's {{ key }}: {{ value }}</p>
    <p>Server's Response: {{ value }}</p>
    {% endfor %}
</body>
</html>